<html>
<%- include ../partials/head.ejs %>
<body>
<div class="container">
    <%- include menu.ejs %>
</div>
<div class="row">
    <div class="col-sm-12">
        <div class="jumbotron">
            <div class="container">
                <a href="/admin/report/person" class="btn btn-info">統計點單</a>
                <a href="/admin/report/item" class="btn btn-success">統計食物</a>
            </div>
        </div>

    </div>
</div>
</body>
</html>